USE [BDResennasJuegos]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[PuntajeTotal] [int] NULL,
	[Avatar] [nvarchar](500) NULL,
	[Baneado] [bit] NULL,
	[IdEstado] [int] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Eliminado] [bit] NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comentarios]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](100) NULL,
	[Contenido] [nvarchar](max) NOT NULL,
	[FechaPublicacion] [datetime] NOT NULL,
	[Autor] [nvarchar](128) NOT NULL,
	[Post] [int] NOT NULL,
	[IdEstado] [int] NOT NULL,
	[Eliminado] [bit] NULL,
 CONSTRAINT [PK_Comentarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ComentariosDenunciados]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComentariosDenunciados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdComentario] [int] NULL,
	[Usuario] [nvarchar](128) NULL,
	[Motivo] [int] NULL,
	[Fecha] [datetime] NULL,
	[Descripcion] [nvarchar](200) NULL,
 CONSTRAINT [PK_ComentariosDenunciados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Estados]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
 CONSTRAINT [PK_Estados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Juegos]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Juegos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Imagen] [nvarchar](500) NULL,
	[Eliminado] [bit] NULL,
 CONSTRAINT [PK_Juegos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MotivosDenuncia]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MotivosDenuncia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
 CONSTRAINT [PK_MotivosDenuncia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Noticias]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Noticias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](200) NULL,
	[Contenido] [nvarchar](max) NULL,
	[Fecha] [datetime] NULL,
	[Eliminado] [bit] NULL,
	[Foto] [nvarchar](500) NULL,
	[Descripcion] [nvarchar](375) NULL,
 CONSTRAINT [PK_Noticias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostDenunciados]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostDenunciados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPost] [int] NULL,
	[Usuario] [nvarchar](128) NULL,
	[Motivo] [int] NULL,
	[Fecha] [datetime] NULL,
	[Descripcion] [nvarchar](200) NULL,
 CONSTRAINT [PK_Denuncias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Posts]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](100) NOT NULL,
	[Contenido] [nvarchar](max) NOT NULL,
	[FechaPublicacion] [datetime] NOT NULL,
	[Autor] [nvarchar](128) NOT NULL,
	[Puntaje] [int] NULL,
	[IdEstado] [int] NOT NULL,
	[Eliminado] [bit] NULL,
	[Descripcion] [nvarchar](375) NULL,
	[IdJuego] [int] NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostsTags]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostsTags](
	[IdPost] [int] NOT NULL,
	[IdTags] [int] NOT NULL,
 CONSTRAINT [PK_PostTags] PRIMARY KEY CLUSTERED 
(
	[IdPost] ASC,
	[IdTags] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tags]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Votos]    Script Date: 10/10/2018 04:15:18 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Votos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPost] [int] NULL,
	[Usuario] [nvarchar](128) NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK_Votos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Administrador')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'Moderadores')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Usuario')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'ff5aef1f-e39a-4f02-92d4-f8fd85d47e50', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2e5710fe-8d9c-49cf-8254-2ac0c7b2f180', N'2')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [PuntajeTotal], [Avatar], [Baneado], [IdEstado]) VALUES (N'1cfe9cdf-be8c-4358-ac79-94b17d614eec', N'prueba@prueba.com', 0, N'ADHpHncxA2BEF0Mm6dWIYLKry85BrvKhEJ10F/NFz9jgIdz8vVP1BLwpchL/6U+v+w==', N'3b4f2f2d-cafa-4051-a1e0-a38fc7df13f5', NULL, 0, 0, NULL, 1, 0, N'prueba@prueba.com', NULL, NULL, NULL, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [PuntajeTotal], [Avatar], [Baneado], [IdEstado]) VALUES (N'2e5710fe-8d9c-49cf-8254-2ac0c7b2f180', N'gastonsorati@gmail.com', 1, N'AJuz4wGuc7tkcsCIiURJPV365j6cQElmOgyElSrc1PL9rHnO+HPAZ4qubg2imzr0cQ==', N'a257b838-cbc2-4f7f-9ce2-15672b3d38c4', NULL, 0, 0, NULL, 1, 0, N'gastonsorati@gmail.com', NULL, NULL, NULL, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [PuntajeTotal], [Avatar], [Baneado], [IdEstado]) VALUES (N'64e1242c-ae66-4d11-bc19-e99f5c51b56a', N'gaston_sorati@hotmail.com', 0, N'123456', N'93823b52-ffc9-47cf-b5c0-e98d23246ab6', NULL, 0, 0, NULL, 0, 0, N'gaston_sorati@hotmail.com', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Eliminado], [Descripcion]) VALUES (1, 0, N'PC')
INSERT [dbo].[Categorias] ([Id], [Eliminado], [Descripcion]) VALUES (2, 0, N'PS4')
INSERT [dbo].[Categorias] ([Id], [Eliminado], [Descripcion]) VALUES (3, 0, N'X360')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
SET IDENTITY_INSERT [dbo].[Comentarios] ON 

INSERT [dbo].[Comentarios] ([Id], [Titulo], [Contenido], [FechaPublicacion], [Autor], [Post], [IdEstado], [Eliminado]) VALUES (21, NULL, N'asd', CAST(N'2018-10-07 01:30:35.147' AS DateTime), N'ff5aef1f-e39a-4f02-92d4-f8fd85d47e50', 9, 3, 1)
INSERT [dbo].[Comentarios] ([Id], [Titulo], [Contenido], [FechaPublicacion], [Autor], [Post], [IdEstado], [Eliminado]) VALUES (22, NULL, N'sad', CAST(N'2018-10-07 01:31:26.840' AS DateTime), N'ff5aef1f-e39a-4f02-92d4-f8fd85d47e50', 9, 3, 1)
INSERT [dbo].[Comentarios] ([Id], [Titulo], [Contenido], [FechaPublicacion], [Autor], [Post], [IdEstado], [Eliminado]) VALUES (23, NULL, N'asd', CAST(N'2018-10-07 01:34:19.383' AS DateTime), N'ff5aef1f-e39a-4f02-92d4-f8fd85d47e50', 10, 1, NULL)
SET IDENTITY_INSERT [dbo].[Comentarios] OFF
SET IDENTITY_INSERT [dbo].[ComentariosDenunciados] ON 

INSERT [dbo].[ComentariosDenunciados] ([Id], [IdComentario], [Usuario], [Motivo], [Fecha], [Descripcion]) VALUES (2, 27, N'2e5710fe-8d9c-49cf-8254-2ac0c7b2f180', 2, CAST(N'2018-10-08 19:29:05.417' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ComentariosDenunciados] OFF
SET IDENTITY_INSERT [dbo].[Estados] ON 

INSERT [dbo].[Estados] ([Id], [Descripcion]) VALUES (1, N'Activo')
INSERT [dbo].[Estados] ([Id], [Descripcion]) VALUES (2, N'Suspendido')
INSERT [dbo].[Estados] ([Id], [Descripcion]) VALUES (3, N'Eliminado')
SET IDENTITY_INSERT [dbo].[Estados] OFF
SET IDENTITY_INSERT [dbo].[Juegos] ON 

INSERT [dbo].[Juegos] ([Id], [Descripcion], [IdCategoria], [Imagen], [Eliminado]) VALUES (4, N'Fifa 19', 2, N'/Imagenes/ImagenJuegos/5449dd68-652c-43a0-b25a-45931761fef6.jpg', NULL)
INSERT [dbo].[Juegos] ([Id], [Descripcion], [IdCategoria], [Imagen], [Eliminado]) VALUES (7, N'Shadow of the Tomb Raider', 1, N'/Imagenes/ImagenJuegos/436c97e9-862b-4f7f-a451-96de69d10619.jpg', NULL)
INSERT [dbo].[Juegos] ([Id], [Descripcion], [IdCategoria], [Imagen], [Eliminado]) VALUES (8, N' Assassin’s Creed: Odyssey', 1, N'/Imagenes/ImagenJuegos/758ce986-155a-4820-a7a5-ed4a76a4b8c2.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Juegos] OFF
SET IDENTITY_INSERT [dbo].[MotivosDenuncia] ON 

INSERT [dbo].[MotivosDenuncia] ([Id], [Descripcion]) VALUES (1, N'Contenido Inapropiado')
INSERT [dbo].[MotivosDenuncia] ([Id], [Descripcion]) VALUES (2, N'Contenido Discriminatorio')
SET IDENTITY_INSERT [dbo].[MotivosDenuncia] OFF
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([Id], [Titulo], [Contenido], [FechaPublicacion], [Autor], [Puntaje], [IdEstado], [Eliminado], [Descripcion], [IdJuego]) VALUES (1, N'Prueba1', N'Prueba', CAST(N'2018-09-25 03:07:44.000' AS DateTime), N'64e1242c-ae66-4d11-bc19-e99f5c51b56a', NULL, 1, NULL, N'Prueba 1 Prueba 1 Prueba 1 Prueba 1', 4)
INSERT [dbo].[Posts] ([Id], [Titulo], [Contenido], [FechaPublicacion], [Autor], [Puntaje], [IdEstado], [Eliminado], [Descripcion], [IdJuego]) VALUES (4, N'Prueba3', N'Prueba3', CAST(N'2018-10-03 21:07:18.000' AS DateTime), N'64e1242c-ae66-4d11-bc19-e99f5c51b56a', NULL, 2, NULL, N' el mome', 8)
SET IDENTITY_INSERT [dbo].[Posts] OFF
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([Id], [Descripcion]) VALUES (12, N'Fifa')
INSERT [dbo].[Tags] ([Id], [Descripcion]) VALUES (13, N'Deportes')
INSERT [dbo].[Tags] ([Id], [Descripcion]) VALUES (14, N'Accion')
SET IDENTITY_INSERT [dbo].[Tags] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Estados] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Estados]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [FK_Comentarios_AspNetUsers] FOREIGN KEY([Autor])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_Comentarios_AspNetUsers]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [FK_Comentarios_Estados] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([Id])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_Comentarios_Estados]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [FK_Comentarios_Post] FOREIGN KEY([Post])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_Comentarios_Post]
GO
ALTER TABLE [dbo].[ComentariosDenunciados]  WITH CHECK ADD  CONSTRAINT [FK_ComentariosDenunciados_AspNetUsers] FOREIGN KEY([Usuario])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ComentariosDenunciados] CHECK CONSTRAINT [FK_ComentariosDenunciados_AspNetUsers]
GO
ALTER TABLE [dbo].[ComentariosDenunciados]  WITH CHECK ADD  CONSTRAINT [FK_ComentariosDenunciados_Comentarios] FOREIGN KEY([IdComentario])
REFERENCES [dbo].[Comentarios] ([Id])
GO
ALTER TABLE [dbo].[ComentariosDenunciados] CHECK CONSTRAINT [FK_ComentariosDenunciados_Comentarios]
GO
ALTER TABLE [dbo].[ComentariosDenunciados]  WITH CHECK ADD  CONSTRAINT [FK_ComentariosDenunciados_MotivosDenuncia] FOREIGN KEY([Motivo])
REFERENCES [dbo].[MotivosDenuncia] ([Id])
GO
ALTER TABLE [dbo].[ComentariosDenunciados] CHECK CONSTRAINT [FK_ComentariosDenunciados_MotivosDenuncia]
GO
ALTER TABLE [dbo].[Juegos]  WITH CHECK ADD  CONSTRAINT [FK_Juegos_Categorias] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Juegos] CHECK CONSTRAINT [FK_Juegos_Categorias]
GO
ALTER TABLE [dbo].[PostDenunciados]  WITH CHECK ADD  CONSTRAINT [FK_PostDenunciados_AspNetUsers] FOREIGN KEY([Usuario])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PostDenunciados] CHECK CONSTRAINT [FK_PostDenunciados_AspNetUsers]
GO
ALTER TABLE [dbo].[PostDenunciados]  WITH CHECK ADD  CONSTRAINT [FK_PostDenunciados_MotivosDenuncia] FOREIGN KEY([Motivo])
REFERENCES [dbo].[MotivosDenuncia] ([Id])
GO
ALTER TABLE [dbo].[PostDenunciados] CHECK CONSTRAINT [FK_PostDenunciados_MotivosDenuncia]
GO
ALTER TABLE [dbo].[PostDenunciados]  WITH CHECK ADD  CONSTRAINT [FK_PostDenunciados_Posts] FOREIGN KEY([IdPost])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[PostDenunciados] CHECK CONSTRAINT [FK_PostDenunciados_Posts]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_AspNetUsers] FOREIGN KEY([Autor])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_AspNetUsers]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Estados] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Estados]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Juegos] FOREIGN KEY([IdJuego])
REFERENCES [dbo].[Juegos] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Juegos]
GO
ALTER TABLE [dbo].[PostsTags]  WITH CHECK ADD  CONSTRAINT [FK_PostTags_Post] FOREIGN KEY([IdPost])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[PostsTags] CHECK CONSTRAINT [FK_PostTags_Post]
GO
ALTER TABLE [dbo].[PostsTags]  WITH CHECK ADD  CONSTRAINT [FK_PostTags_Tags] FOREIGN KEY([IdTags])
REFERENCES [dbo].[Tags] ([Id])
GO
ALTER TABLE [dbo].[PostsTags] CHECK CONSTRAINT [FK_PostTags_Tags]
GO
ALTER TABLE [dbo].[Votos]  WITH CHECK ADD  CONSTRAINT [FK_Votos_AspNetUsers] FOREIGN KEY([Usuario])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Votos] CHECK CONSTRAINT [FK_Votos_AspNetUsers]
GO
ALTER TABLE [dbo].[Votos]  WITH CHECK ADD  CONSTRAINT [FK_Votos_Post] FOREIGN KEY([IdPost])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[Votos] CHECK CONSTRAINT [FK_Votos_Post]
GO
