@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    <h1>JUEGOSeñas</h1>
    <p class="lead">JUEGOSeñas es una comunidad web hecha por y para jugadores, donde podrás crear y votar reseñas de juegos y comentarios de otros jugadores.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Saber más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Soy nuevo</h2>
        <p>
            Si eres nuevo en la comunidad, comienza dándote una vuelta por las reseñas en la página de incio.
        </p>
        <p><a class="btn btn-default" href="">Inicio &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Últimas noticias</h2>
        <!--Contenido de últimas noticias-->

        <!--Fin contenido-->
        <p><a class="btn btn-default" href="">Ver más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Top 5 reseñas</h2>
        <!--Contenido de top 5 de reseñas-->

        <!--Fin contenido-->
        <p><a class="btn btn-default" href="">Ver más &raquo;</a></p>
    </div>
</div>